<!DOCTYPE html>
<html lang="en" ng-app="animalShelter">
  <head>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link href="css/stylesheet.css" rel="stylesheet"> -->
    <script src="lib/angular.js"></script>
    <script src="app.js"></script>
    <script src="controllers/AnimalsController.js"></script>
    <script src="controllers/AdoptablesController.js"></script>
    <script src="services/SheltersFactory.js"></script>
    <title>Animal Factory</title>
  </head>
  <body>
    <div class="container">
      <div class="col-xs-4" ng-controller="AnimalsCtrl">
        <div class="row" ng-show="animals.length">
          <h3>Your lovely animals:</h3>
          <ul>
            <li ng-repeat="item in animals">
              Name: {{item.name}} Type: {{item.type}}
            </li>
          </ul>
        </div>
        <h2>Add an animal!</h2>
        <form ng-submit="SheltersFactory.addAnimal()" class="form-inline" role="form">
          <div class="form-group">
            <input type="text" ng-model="SheltersFactory.animalName" class="form-control" placeholder="animal name">
          </div>
          <div class="form-group">
            <input type="text" ng-model="SheltersFactory.animalType" class="form-control" placeholder="animal type">
          </div>
          <button type="submit" class="btn btn-success">Add</button>
        </form>
      </div>
      <div class="col-xs-4" ng-controller="AdoptablesCtrl">
        <div ng-show="animalsNotAdopted.length">
          <h3>These animals need Homes!</h3>
          <ul>
            <li ng-repeat="item in animalsNotAdopted = (animals | filter:{adopted: false})">
              Name: {{item.name}} Type:{{item.type}} <a ng-click="addAdoptedAnimal(item)"> - has been adopted - </a>
            </li>
          </ul>
        </div>
        <div ng-show="animalsAdopted.length">
          <h3>These animals have been adopted!</h3>
          <ul>
            <li ng-repeat="item in animalsAdopted = (animals | filter:{adopted: true})">
              Name: {{item.name}} Type: {{item.type}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>

  <!-- <div class="container">
    <div ng-controller="AnimalsCtrl">
      <div class="row" ng-show="animals.length">
        <div class="col-xs-12">
          <h2>Search Animals</h2>
          <form class="form-inline" role="form">
            <div class="form-group">
              <input ng-model="query" type="text" class="form-control" placeholder="search">
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h2 ng-show="animals.length && filtered.length">Animal List<h2>
          <h2 ng-show="animals.length && !filtered.length">No Matches</h2>
          <ul>
            <li ng-repeat="item in filtered = (animals | filter:query)">
              <span ng-click="editing = true" ng-hide="editing">
                {{item.name, item.type}} <a ng-click="SheltersFactory.deleteAnimal(item)">Delete</a>
              </span>
              <span ng-show="editing" ng-submit="editing = false">
                <form class="form-inline" role="form">
                  <input type="text" class="form-control input-sm" ng-model="item.name" placeholder="name" required/>
                  <button type="submit" class="btn btn-sm btn-danger">Save</button>
                </form>
              </span>
            </li>
          </ul>
        </div>
        <div class="col-xs-4">
          <h2>New Animal</h2>
          <form ng-submit="SheltersFactory.addAnimal()" class="form-inline" role="form">
            <div class="form-group">
              <input type="text" ng-model="SheltersFactory.animalName" class="form-control" placeholder="name">
            </div>
            <div class="form-group">
              <input type="text" ng-model="SheltersFactory.animalType" class="form-control" placeholder="type of animal">
            </div>
            <button type="submit" class="btn btn-success">Add</button>
          </form>
        </div>
      </div>
      <div class="row" ng-controller="AdoptablesCtrl">
        <div class="col-md-6" ng-show="studentsWithoutPermission.length">
          <h3>Available Pets</h3>
          <ul>
            <li ng-repeat="item in animalsNotAdopted = (animals | filter:{adopted: false})">
              {{item.name, item.type}} <a ng-click="addAdoptedAnimal(item)"> - they've been adopted! -</a>
            </li>
          </ul>
        </div>
        <div class="col-md-6" ng-show="animals.adopted.length">
          <h3>These Pets Have Been Adopted!<h3>
            <ul>
              <li ng-repeat="item in animalsAdopted  = (animals | filter:{adopted: true})">
                {{item.name, item.type}}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div> -->
